
#logo {
  height: 8em;
  width: auto;
}



.form-style-1 {
  max-width: 750px;
  width:100%;
  /*max-width: 75%;*/
  padding: 10px 20px;
  background:white;
  margin: 0px auto;
  border-radius: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-style-1 fieldset {
  border: none;
}


.form-style-1 input[type='text'],
.form-style-1 textarea,
.form-style-1 select {
  /*background: rgba(255,255,255,.1);*/
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 4px;
  margin: 0;
  outline: 0;
  padding: 6px;
  background-color: #ffffff;
  color: #8a97a0;
}

.form-style-1 input[type='text']:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus {
  /*background: #d2d9dd;*/
  border: 1px solid #4165a9;
}


.indent{
  background-color:#0a275f;
  border-color: rgb(185, 196, 212);
  color:white;
}

.totalCool{
  width:80%;
}

.whiteBackground{
  background-color:#ffffff89;
  border-color: rgb(224, 230, 240);
}

.minusBottom{
  margin-bottom: -30px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}
